aclocal.m4
autom4te.cache
autoregen.sh
compile
.deps/
.libs/
src/rpirtspd
m4/
*.la
*.lo
*.o
config.*
configure
libtool
INSTALL
Makefile.in
Makefile
depcomp
install-sh
ltmain.sh
missing
stamp-*
gst-rtsp-server*
*.geany
*.service
*.tar.*
*~
debian/files
